<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-food-review-heading">Create or edit a Food Review</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!foodReview.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="foodReview.id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_food">What food are you reviewing?</label>
                    <select class="form-control" id="field_food" name="food" [(ngModel)]="foodReview.food" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="foodOption.id === foodReview.food?.id ? foodReview.food : foodOption" *ngFor="let foodOption of foods; trackBy: trackFoodById">{{foodOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_pet">What pet is this review for?</label>
                    <select class="form-control" id="field_pet" name="pet" [(ngModel)]="foodReview.pet" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="petOption.id === foodReview.pet?.id ? foodReview.pet : petOption" *ngFor="let petOption of pets; trackBy: trackPetById">{{petOption.name}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_title">Summarize your feelings about this food</label>
                    <input type="text" class="form-control" name="title" id="field_title"
                        [(ngModel)]="foodReview.title" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_rating">On a scale of 1 to 5, how awesome or sucky is this food for this pet?</label>
                    <select class="form-control" name="rating" [(ngModel)]="foodReview.rating" id="field_rating" >
                        <option value="ONE">ONE</option>
                        <option value="TWO">TWO</option>
                        <option value="THREE">THREE</option>
                        <option value="FOUR">FOUR</option>
                        <option value="FIVE">FIVE</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_body">Why do you feel this way about this food?</label>
                    <textarea rows="4" class="form-control" name="body" id="field_body"
                              [(ngModel)]="foodReview.body"></textarea>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
